.liststyle li a {
   text-decoration: none !important;
}

.activeNav {
   color: #266200;
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   text-transform: capitalize;
   border-bottom: 2px solid #266200;
   padding: 20px;
   background: #e6ffe6;
}

.gotoBtn {
   width: 200px;
   background: white;
   padding: 8px 0px;
   border: 1px solid rgb(213, 212, 212);
   border-radius: 7px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gotoBtnYellow {
   width: 200px;
   background: #FFC700;
   padding: 8px 0px;
   border: 0px;
   border-radius: 7px;
}

.bgColor {
   background-color: lightgrey;
   border-radius: 4px;
   padding: 1%;
}

.aggree {
   color: 222831;
   font-weight: 500;
}

.cancelbtn {
   height: 48px;
   border-radius: 50px !important;
   border: none !important;
   background-color: grey !important;
   box-shadow: none !important;
   font-size: 16px !important;
   color: white !important;
   letter-spacing: 1px;
   padding: 0 60px !important;
}


.reqText {
   color: #266200;
   font-size: 15px;
   font-weight: 400;
   cursor: pointer;
   text-transform: capitalize;

}

.reqText:hover {
   text-decoration: underline;
   color: black;
}

.inactivetab {
   color: #676767 !important;
   background-color: whitesmoke;
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   text-transform: capitalize;
   letter-spacing: 1px;
   text-decoration: none !important;
   padding: 8px 20px;
   border-radius: 15px;
}

.inactivetab:hover {
   color: #266200 !important;
   font-weight: bold;
   /* font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      text-transform: capitalize;
      letter-spacing: 1px;
      border-bottom: 2px solid #266200;
      padding: 38px; */
}

.infotext {
   font-weight: 700;
   font-size: 15px;
   color: #111;
}

.infotext2 {
   font-weight: 400;
   font-size: 15px;
   color: #111;
}

.upback {
   background-color: lightgray;
   padding: 10%;
   border-radius: 4px;
}

.btns {
   height: 35px;
   border-radius: 50px !important;
   border: none !important;
   background-color: #000 !important;
   box-shadow: none !important;
   font-size: 14px;
   color: #9af064 !important;
   letter-spacing: 1px;
   padding: 0 30px;
}

.btns2 {
   font-size: 12px;
   width: 200px;
   padding: 10px;
   border-radius: 50px !important;
   border: none !important;
   background-color: #000 !important;
   box-shadow: none !important;
   font-size: 14px;
   color: #9af064 !important;
   letter-spacing: 1px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.specborder {
   border: 0.5px solid lightgray;
}

.specHeader {
   background-color: #313131;
   color: #51d101 !important;
   font-weight: bold;
   font-size: 10px;
   text-align: center;
   border-radius: 0px;
}

.specHeader2 {
   background-color: #313131;
   color: #51d101 !important;
   font-weight: bold;
   font-size: 14px;
   text-align: center;
   border-radius: 0px;
   padding: 2px;
}

.specText {
   color: #181818;
   font-weight: bold;
   font-size: 10px;
   text-decoration: underline;
}

.specText2 {
   color: #000;
   font-weight: bold;
   font-size: 14px;
}

.specText2Rest {
      line-height: 1.43;
         color: #212121;
         font-weight: 300;
         font-size: 13px;
}

.specTextsmall {
   color: #212121;
   font-size: 12px;
}

.bgoffer{
   background: #EEEEEE;
}

.bgofferProductImg{
   width: 200px;
   height: 200px;
   object-fit: contain;
}

.bgofferProductName{

   color: #2D9596;
      font-size: 18px;
      font-weight: 500;
}

.pdis{
   border-bottom: 0.5px solid #505050;
   padding: 25px;
}

.paddingConatiner{
   background-color: white;
   padding: 10px 120px !important;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productaddBack{
   background-color: #EEEEEE;
}