@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&family=Jost:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* html {
    overflow-x: hidden;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #000000;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
  padding: 60px 0;
}

.seller-header {
  background: #000;
}

.seller-header .navbar {
  padding: 16px 0;
  height: auto !important;
}

.seller-header .navbar-brand {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0px;
}

.seller-header .navbar .nav-item + .nav-item {
  margin-left: 30px;
}

.seller-header .navbar .nav-link {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #000 !important;
  background-color: #9af064;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  padding: 11px 24px;
  text-transform: none !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.seller-header .navbar .nav-link:hover {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.seller-header .navbar .nav-link svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.seller-banner-section {
  overflow: hidden;
  z-index: 2;
}

.seller-banner-section::before {
  position: absolute;
  top: -90%;
  left: -11%;
  width: 150%;
  height: 150%;
  content: "";
  background-color: #e5faca;
  border-radius: 500px;
  transform: rotate(-12deg);
}

.seller-banner-section .container {
  position: relative;
  z-index: 3;
}

.seller-banner-section .banner-content-img {
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.seller-banner-section .banner-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seller-banner-section h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 30px;
}

.seller-banner-section p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 480px;
}

.seller-banner-section .banner-cta {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 30px;
  padding: 11px 54px;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
  text-decoration: none !important;
}

.seller-banner-section .banner-cta:hover {
  color: #000;
  background-color: #9af064;
  transition: all 0.3s ease-in-out;
}

.why-best-section {
  /* background-color: #f6f6f6; */
  background-color: #e5faca;
  padding-bottom: 20px;
}

.section-heading h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 50px;
}

.heading-col {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px;
}

.heading-col h3 {
  margin: 0;
}

.why-card {
  align-items: center;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  margin-bottom: 40px;
}

.why-card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.why-card .card-img svg {
  max-width: 60px;
  max-height: 60px;
}

.why-card .card-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 0 0 8px;
}

.why-card .card-text {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-align: center;
  max-width: 300px;
}

.how-card {
  align-items: center;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.how-card .card-img {
  width: 280px;
  height: 190px;
  border: 10px solid #9af064;
  border-radius: 20px;
  overflow: hidden;
}

.how-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-card .card-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.seller-stories-section {
  background-color: #000;
}

.seller-stories-section .section-heading h3 {
  color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.stories-navigation {
  position: relative;
  display: flex;
  align-items: center;
  width: 100px;
}

.stories-swiper-button-prev {
  left: 0;
}

.stories-swiper-button-next {
  right: 0;
}

.stories-swiper-button-next,
.stories-swiper-button-prev {
  width: 40px;
  height: 40px;
  padding: 0;
}

.stories-swiper-button-next svg,
.stories-swiper-button-prev svg {
  width: 40px;
  height: 40px;
}

.story-video-link {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.story-video-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-video-link .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-video-link .action .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
}

.story-video-link .action .button svg {
  width: 30px;
  height: 30px;
}

.seller-quote {
  max-width: 500px;
}

.seller-quote .quote-img {
  width: 60px;
  margin-bottom: 10px;
}

.seller-quote h4 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  color: #fff;
  margin: 0 0 20px;
}

.seller-quote p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #e5faca;
}

.seller-quote p span {
  display: block;
  font-size: 16px;
  color: #fff;
}

.bottom-section {
  background-color: #e5faca;
}

.bottom-section .row {
  align-items: center;
}

.bottom-section h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.bottom-section p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.bottom-section .bottom-cta {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
  background-color: #9af064;
  border-radius: 30px;
  padding: 16px 64px;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}

.bottom-section .bottom-cta:hover {
  color: #fff;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.bottom-content-right {
  text-align: right;
}

footer {
  background: #111;
}

footer .upper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .col {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 60px;
}

footer .col:last-child {
  border-right: none;
}

footer h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 24px;
  margin-bottom: 30px;
}

footer .upper ul {
  margin-bottom: 40px;
}

footer .upper li + li {
  margin-top: 16px;
}

footer .upper li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none !important;
}

footer .upper li a:hover {
  color: #fff;
}

footer .lower {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer .lower .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .lower p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0px;
}

footer .lower ul {
  text-align: right;
}

footer .lower li {
  display: inline-block;
}

footer .lower li + li {
  margin-left: 40px;
}

footer .lower li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-decoration: none !important;
}

.cursor {
  cursor: pointer;
}

/* 12-12-2024 */

.about-section {
  background: #14151b;
  padding: 50px 0;
}
.about-section .row {
  align-items: center;
}
.about-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 25px;
  margin-bottom: 50px;
}
.about-heading:after {
  content: 'HISTORY';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 120px;
  font-weight: 500;
  color: rgba(154, 240, 100, 0.125);
  line-height: 100px;
  letter-spacing: -8px;
  z-index: 2;
}
.about-heading h2 {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  margin: 0;
}
.about-heading h2 span {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: #9af064;
  letter-spacing: 3px;
}
.about-section .video-holder video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.about-section .right-content {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.about-section .text-holder {
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.about-section .cta-view {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #383838;
  line-height: 46px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  padding: 0 25px;
  padding-right: 60px;
  margin-top: 30px;
}
.about-section .cta-view:hover {
  background: #9af064;
  box-shadow: 0 0 20px 5px rgba(154, 240, 100, 0.3);
  transition: all 0.3s ease-in-out;
}
.about-section .cta-view svg {
  position: absolute;
  right: 4px;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #383838;
  color: #fff;
  border-radius: 100%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.about-section .cta-view:hover svg {
  fill: #383838;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
footer {
  position: relative;
  border-top: 1px solid #9af064;
  padding: 4rem 0;
}
footer .bg-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer .bg-holder img {
  opacity: 0.1;
  max-width: 100%;
  margin-left: 12%;
}
footer .logo-link {
  display: inline-block;
  margin-bottom: 40px;
}
footer .container {
  position: relative;
}
footer .col {
  border-right: none;
  padding-top: 0;
}
footer .logo-link img {
  width: 100%;
  max-width: 220px;
}
footer p.short-desc {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer li {
  display: block;
}
footer li + li {
  margin-top: 1rem;
}
footer li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
footer li a:hover, 
footer li a:hover p {
  color: #9af064;
  transition: all 0.15s ease-in-out;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}
footer .info-list li {
  display: flex;
  align-items: flex-start;
}
footer .info-list a {
  display: flex;
  align-items: flex-start;
}
footer .info-list .cta-link {
  border: 1px solid #9af064;
  border-radius: 27px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 10px 20px;
}
footer .info-list svg {
  fill: #fff;
  height: 24px;
  transition: all 0.15s ease-in-out;
  margin-right: 10px;
}
footer .info-list .cta-link:hover {
  color: #383838;
  background: #9af064;
  box-shadow: 0 0 20px 5px rgba(154, 240, 100, 0.3);
  transition: all 0.15s ease-in-out;
}
footer .info-list .cta-link:hover svg {
  fill: #383838;
  transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: 1199px) {
  .about-section .text-holder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .about-section .right-content {
    max-width: 100%;
    margin: 20px auto 0;
  }
}

@media only screen and (max-width: 767px) {
  .about-section {
    padding: 0 0 50px;
  }
  .about-heading h2 {
    font-size: 24px;
  }
  .about-heading:after {
    font-size: 100px;
  }
  footer .col-12 {
    margin-bottom: 30px;
  }
  footer .bg-holder img {
    max-width: 90%;
    margin: 0;
  }
}

/* 12-12-2024 */