.logoname {
    color: red !important;
}

.titlename {
    color: black !important;
    font-size: 14px;
    font-weight: bold;
}

.active-link {
    color: red;
}

th {
    color: black !important;
    font-size: 12px;
}

td {
    color: black !important;
    font-size: 12px;
}

.datecolor {
    color: #FE7A36 !important;
    font-weight: 500;
}

.pname {
    color: black !important;
}

.pname:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #3468C0 !important;
}

.avaible {
    color: green !important;
    font-weight: 500;
}

.amount {
    color: #3468C0 !important;
    font-weight: bold;
}

td {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.shadowbox {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadowbox2 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dtext {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase !important;
}

.Caption {
    font-size: 12px !important;
    letter-spacing: 1.5px !important;
    color: rgb(62, 61, 61) !important;
}

.dtextNumber {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(51, 50, 50);
}

.dtext2 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(43, 40, 40);
}

.nav-link {
    font-size: 12px !important;
    color: white !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.dropdown-item {
    font-size: 14px !important;
    color: black !important;
    text-transform: uppercase !important;
}

.padd1 {
    text-transform: uppercase;
    color: #596FB7;
    letter-spacing: 1px;
    font-weight: 500;
}

.padd2 {
    text-transform: uppercase;
    color: #1D2B53;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.custom-label-style {
    text-transform: uppercase;
    color: #414140;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.css-hyum1k-MuiToolbar-root {
    min-height: 50px !important;
    background: #0766AD !important;
}

.sellerpName {
    font-size: 20px;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;

}

.sellerpName2 {
    font-size: 16px;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;

}

.sellerpName3 {
    font-size: 14px;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    color: black;

}

.variants {
    color: #0766AD !important;
    font-weight: bold;
}

.orderpadding {
    padding: 1px !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
}

.orderId {
    color: #508D69 !important;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px !important;
}

.orderId:hover {
    text-decoration: underline;

}

.orderPrice {
    color: #FF004D !important;
    font-weight: bold;
    font-size: 12px !important;
}

.dtextOredr {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase !important;
}

.dropdown-item {
    color: white !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.dropdown-item:hover {
    color: black !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.dropdown-menu {
    background-color: black !important;
}

.dropdown-divider {
    background: white !important;
}

.cdetails {
    color: #080505;
    font-weight: 300;
    font-size: 14px;
}

.cdetailsbg {
    /* background: #FE7A36; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: rgb(236, 235, 235);
}

.estTime {
    color: red !important;
}

.ratingDiv {
    background: green;
    text-align: center;
    padding: 10%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
}

.downloadCSV{
            border: 0.5px solid;
            color: black;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border-radius: 4px;
}

.downloadCSV:hover{
    background-color: #080505;
    color: white;
}

.uploadCSV{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 11px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

