.productList {
  flex: 4;
  width: 0vw;
}

.productListItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productListImg {
  width: 45px !important;
  height: 45px !important;
  border-radius: 0% !important;
  object-fit: contain !important;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}

.productHead {
  font-size: 20px;
  padding: 2%;
  text-align: center;
  font-weight: bold;
}

.addCategoryButton {
  padding: 8px 12px;
  background-color: #007bff;
  /* Change color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Adjust margin-right to position the button */
.addCategoryButton {
  margin-right: 10px;
}

.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem>input {
  padding: 10px;
}

.addProductItem>select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem>input {
  padding: 10px;
}

.addProductItem>select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}

.ActiveStatus {
  color: green;
  font-weight: bold;
}

.DeactiveStatus {
  color: red;
  font-weight: bold;
}

.variCss {
  color: green;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 1px;
}

.viewSeller {
  cursor: pointer;
  color: #007bff;
  font-weight: 500;
}

.newrq {
  font-size: 12px;
  background: #efbbbb;
  text-align: center;
  color: #A0153E;
  font-weight: 500;
  padding: 2%;
}

.newrqNo{
  color: black;
  font-weight: 500;
  border: 1px solid #FFC700;
  padding: 2px;
  border-radius: 7px;
  background-color: #FFC700;
}

.fontbold{
  font-weight: bold;
}


.AdminBulk .bcard {
  cursor: pointer;
  background-color: #effaef;
  min-height: 315px;
  /* width: 250px; */
}

.bcard .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #003000;
}

.AdminBulk .bcard2 {
  cursor: pointer;
  background-color: #f9e1e6;
   min-height: 315px;
  /* width: 250px; */
}



.AdminBulk .bcard2active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #D20062;
  cursor: pointer;
  background-color: #f9e1e6;
  min-height: 315px;
  /* width: 250px;  */
}



.AdminBulk  .bcard2active .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #D20062;
}

.bcard2 .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #D20062;
}

.cmpgin-sub-title4{
  font-size: 12px;
    font-weight: 450;
    text-transform: capitalize;
    color: #eb7712;
    letter-spacing: 0.5px;
}

.cmpgin-sub-title5{
  font-size: 12px;
    font-weight: 450;
    text-transform: capitalize;
    color: #3d3d3d;
    letter-spacing: 0.5px;
}

.AdminBulk .bcard3 {
  cursor: pointer;
  background-color: #d1ebfd;
  height: 400px;
   /* min-height: 315px; */
}

.bcard4 {
  cursor: pointer;
  background-color: #f8ecc9;
  /* min-height: 315px; */
}

.bcard5 {
  cursor: pointer;
  background-color: #ecf0f7;
}

.bcard3 .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #0E46A3;
}

.bcard4 .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #f1b80d;
}

.bcard5 .card-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #5d5d5d;
}

.chooseText {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

.stepNum{
      text-align: center;
    background: #eeeded;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid darkgrey;
}

.chContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10%;
}

.chContainer .box1 {
  background-color: #DDDDDD;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #302e2e;
  padding: 5%;
  letter-spacing: 0.5px;
}

.dwnTemp {
  padding: 5%;
  background: #DDDDDD;
  color: #002800;
  font-weight: 500;
  font-size: 14px;

}

.dwnTemp2 {
  padding: 5%;
  background: #DDDDDD;
  color: #002800;
  font-weight: 500;
  font-size: 14px;
}

.chImg {
  border: 2px solid lightgrey;
}