.productList{
    flex: 4;
    width: 0vw;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}
.productHead{
    font-size: 20px;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}

.addCategoryButton {
    padding: 8px 12px;
    background-color: #007bff; /* Change color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Adjust margin-right to position the button */
.addCategoryButton {
    margin-right: 10px;
}