.productList{
    flex: 4;
    width: 0vw;
}

.productListItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productListImg {
    width: 45px !important;
    height: 45px !important;
    border-radius: 0% !important;
    object-fit: contain !important;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}
.productHead{
    font-size: 20px;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}

.addCategoryButton {
    padding: 8px 12px;
    background-color: #007bff; /* Change color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Adjust margin-right to position the button */
.addCategoryButton {
    margin-right: 10px;
}

.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.newProduct {
    flex: 4;
  }
  
  .addProductForm {
    margin-top: 10px;
  }
  
  .addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .buttonWrapper{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .ActiveStatus{
    color: green;
    font-weight: bold;
  }
  .DeactiveStatus {
       color: red;
       font-weight: bold;
     }
 .variCss{
    color: green;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 1px;
 }