.infotab {
    color: #013e38;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    background: #cdf8e7;
    padding: 2%;
    letter-spacing: 0.5px;
}

.specborder2 {
    color: red !important;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    border-radius: 0px;
}

.specborderDIS {
    background-color: lightgray;
}

.pimg {
    object-fit: contain;
}

.live {
    color: #027166;
    font-weight: bold;
    font-size: 18px;
    word-spacing: 2px;
}

.live2 {
    color: #027166;
    font-weight: 400;
    font-size: 14px;
    word-spacing: 2px;
}

.live3 {
    color: #027166;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 2px;
}

.infotabNw {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 2%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: #027166;
    cursor: pointer;
}

.infotabNw:hover {
    padding: 2%;
    border: 2px solid #027166;
    border-radius: 5px;
    color: #027166;
    font-weight: bold;
    background: white;
}

.imgeCount {
    font-size: 16px;
    background: white;
    padding: 0px 5px;
    color: black;
    border-radius: 50%;
    font-weight: bold;
}

.bgofferProductImg2 {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.othervariDiv {
    border: 2px solid #DDDDDD;
    border-radius: 7px ;
}

.othervariDiv-notApproved{
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    background-color: #bbbbbb;
}

.othervariDivName {
    font-size: 12px;
    font-weight: bold;
    color: #027166;
}

.othervariDivNameV {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.w-70{
    width: 70% !important;
}