.containerLayout {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
  color: white;
}

.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  background-color: white;
  overflow-y: auto;
  /* top: 50px; */
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 25px;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 2%;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(17, 17, 17);
  font-size: 18px;
}

/* .active{
    background-color: rgb(17, 17, 17);
    font-size: 18px;
} */

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.adminNotification {
  font-size: 13px;
  width: 20px;
  height: 20px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 54px;
}

.notlist-tilte{
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #8ad9e2;
  font-weight: 450;
}

.notlist-main{
  font-size: 12px;
  font-weight: normal;
  color: white;
  letter-spacing: 0.5px;
}

.notlist-time{
  font-size: 10px;
    letter-spacing: 0.5px;
    color: Yellow;
    font-weight: 400;
    
}

.notlist-loc{
   font-size: 11px;
    font-weight: 500;
    color: #9e9e9e;
    letter-spacing: 0.5px;
}

.shopNotiImg{
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.markRead{
  color: white;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.markRead:hover{
   color: #555;
}
/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #9d9a9a;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
} */
