.contentLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.contentLoaderAnimate {
  z-index: 11;
}

.table-max-height {
  max-height: 800px;
  overflow-y: auto;
}

.flex-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center-align-end {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.custom-font-size-lg {
  font-size: 1.5rem;
}

.custom-gap-10 {
  gap: 10px;
}

.custom-bg-green-color {
  background-color: #027166;
}

.custom-btn-1 {
  background-color: #027166;
  color: white;
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.custom-btn-1:hover {
  background-color: #025c5c;
  color: white;
}

.custom-btn-2 {
  background-color: #9af064;
  font-weight: bold;
  color: black;
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.custom-btn-2:hover {
  background-color: #70bb42;
  color: white;
}

.notification-div {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  padding-top: 50px;
}

.notification-div .notification-link {
  font-weight: bold;
  color: inherit;
}

.glow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 18px;
  background-color: #bffb9a; /* Updated color */
  color: black;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  border: 1px solid rgba(35, 82, 7, 0.6);
  box-shadow: 0 0 20px rgba(145, 252, 79, 0.6), 0 0 30px hwb(97 0% 58% / 0.4); /* Glow effect updated */
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glow-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(154, 240, 100, 0.8),
    0 0 40px rgba(154, 240, 100, 0.6); /* Glow effect updated */
}

.glow-button:active {
  transform: scale(0.98);
}

.glow-button .icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.page-item {
  display: inline-block;
}

.page-item.active .btn {
  background-color: #343a40;
  color: #fff;
}

.page-item.disabled .btn {
  pointer-events: none;
  opacity: 0.6;
}


.reqImgN{
  width: 250px;
  height: 155px;
}

.cuTables{
  max-height: 100px;
  overflow: auto;
}

/* .cuTables thead tr{
  --bs-table-bg: #70bb42 !important;
}

.cuTables thead tr th{
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
  font-weight: bold;
}

.cuTables tbody tr td{
  border-bottom: 1px solid #dee2e6;
  padding: 0.5rem;
} */

.shwTx{
  color: #027166;
    font-weight: bold;
    border: 1px solid #027166;
    border-radius: 5px;
    cursor: pointer;
}

.shwTx:hover{
  background-color: #025c5c;
  color: white;
  border: 1px solid #025c5c;  
}

.shwTx2{
     color: #16aae9;
     font-weight: 500;
    border: 1px solid #16aae9;
    border-radius: 5px;
    cursor: pointer;
}

.shwTx2:hover{
  background-color: #16aae9;
  color: white;
  border: 1px solid #16aae9;  
}

.disabledLink {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}

.disabledTab {
  opacity: 0.5;
}

.custom-tabs .nav-link {
  color: #70bb42 !important; /* Ensures your style takes precedence */
}

.custom-tabs .nav-link.active {
  color: #025c5c !important; /* Optional: different color for active tab */
}

.btn-close{
  color: black !important;
  opacity: 1 !important;
}

.btn-close:hover{
  color: black !important;
  opacity: 1 !important;
}