.contentLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.contentLoaderAnimate {
  z-index: 11;
}

.table-max-height {
  max-height: 800px;
  overflow-y: auto;
}

.flex-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center-align-end {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.custom-font-size-lg {
  font-size: 1.5rem;
}

.custom-gap-10 {
  gap: 10px;
}

.custom-bg-green-color {
  background-color: #027166;
}

.custom-btn-1 {
  background-color: #027166;
  color: white;
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.custom-btn-1:hover {
  background-color: #025c5c;
  color: white;
}

.custom-btn-2 {
  background-color: #9af064;
  font-weight: bold;
  color: black;
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.custom-btn-2:hover {
  background-color: #70bb42;
  color: white;
}

.notification-div {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  padding-top: 50px;
}

.notification-div .notification-link {
  font-weight: bold;
  color: inherit;
}
